{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>بازیابی گذرواژه</title>
    <link rel="stylesheet" href="{% static "accounts/adminlte/assets/css/custom.css" %}">
</head>
<body>
<div style="text-align: center">
    <h1>تقاضای ریست رمز فرستاده شد</h1>

    <p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی
        این دستورالعمل‌ها را دریافت کنید.
    </p>
    <p>اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و
        پوشهٔ اسپم خود را نیز چک کنید.
    </p>
</div>
</body>
</html>