{% extends 'registration/base.html' %}
{% block title-meta %}{% block title %}تغییر گذرواژه{% endblock %}{% endblock %}
{% block main %}
    <div class="col-md-8 text-center mx-auto">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
            </div>
            <div class="card-body py-4">
                <p class="py-2">تغییر گذرواژه با موفقیت انجام شد.</p>
            </div>
        </div>
    </div>
{% endblock %}