@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Sahel.eot');
    src: url('../fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sahel.woff2') format('woff2'),
    url('../fonts/Sahel.woff') format('woff'),
    url('../fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
}

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: url('../fonts/Roboto-Regular-webfont.woff');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    src: url('../fonts/Roboto-Light-webfont.woff');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/
